@model FoodDeliveryApp.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Register</h5>
        <h1 class="mb-4">Create an Account</h1>
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Users" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Role" class="form-label"></label>
                        <select class="form-control" id="Role" name="Role" required>
                            <option value="">Select Role</option>
                            <option value="Customer">Customer</option>
                            <option value="Admin">Admin</option>
                            <option value="Delivery">Delivery</option>
                        </select>
                        
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}