@{
    ViewData["Title"] = "Our Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Team</h5>
        <h1 class="mb-4">Meet Our Team</h1>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6">
                <div class="card h-100 text-center">
                    <img src="~/img/team-1.jpg" class="card-img-top" alt="Team Member">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">Founder & CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card h-100 text-center">
                    <img src="~/img/team-2.jpg" class="card-img-top" alt="Team Member">
                    <div class="card-body">
                        <h5 class="card-title">Jane Smith</h5>
                        <p class="card-text">Head Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card h-100 text-center">
                    <img src="~/img/team-3.jpg" class="card-img-top" alt="Team Member">
                    <div class="card-body">
                        <h5 class="card-title">Mike Johnson</h5>
                        <p class="card-text">Delivery Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card h-100 text-center">
                    <img src="~/img/team-4.jpg" class="card-img-top" alt="Team Member">
                    <div class="card-body">
                        <h5 class="card-title">Sarah Lee</h5>
                        <p class="card-text">Customer Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>